{% extends "baseG.html" %} {% load static %} 


{% block body %} {% if unidades_km %} 

{% for unidad, km in unidades_km.items %}
<div class="unidad-container">
  <p>
    <strong>Unidad: </strong> {{ unidad }} - <strong>Kilómetros recorridos desde último mantenimiento: </strong>
    {{km}}
  </p>

  {% if km >= 3000 %}
  <form method="POST" action="{% url 'marcar_mantenimiento' unidad.id %}">
    {% csrf_token %}
    <textarea
      name="notas"
      placeholder="Notas de mantenimiento (opcional)"
    ></textarea>
    <button type="submit" class="btn btn-primary">Marcar como Mantenido</button>
  </form>
  {% endif %}
</div>
{% endfor %} {% else %}
<h1>No hay unidades para mostrar</h1>
{% endif %} {% endblock %}
